<div>
  <h2>Productnaam:</h2><jqxInput [(ngModel)]="productnaam" type="text" [theme]="themeproviderService.selectedTheme"></jqxInput>
  <h2>Beschrijving:</h2><jqxInput [(ngModel)]="beschrijving" type="text" [theme]="themeproviderService.selectedTheme"></jqxInput>
  <h2>Aantal:</h2><jqxInput [(ngModel)]="aantal" type="number" [theme]="themeproviderService.selectedTheme"></jqxInput>
  <jqxButton (click)="this.toevoegen()" routerLink="/producten" [theme]="themeproviderService.selectedTheme" >Toevoegen</jqxButton>
</div>
