<div>
  <table *ngIf="this.lening" >
    <tr>
      <th>Leningnummer:</th>
      <td>{{lening.leningnummer}}</td>
    </tr>
    <tr>
      <th>Leningstatus:</th>
      <td>{{lening.leningstatus}}</td>
    </tr>
    <tr>
      <th>Ingediend door:</th>
      <td>{{lening.user.voornaam}} {{lening.user.achternaam}}</td>
    </tr>
    <tr>
      <th>Studentnummer:</th>
      <td>{{lening.user.studentnummer}}</td>
    </tr>
    <tr>
      <th>Klascode:</th>
      <td>{{lening.klascode}}</td>
    </tr>
    <tr>
      <th>Geleend tijdens:</th>
      <td>Blok {{lening.blok}}</td>
    </tr>
  </table>
  <br>
  <jqxTabs style="display: inline-block;" [width]="582" [theme]="themeProvider.selectedTheme" [initTabContent]="initWidgets">
    <ul style="margin-left: 134px;">
        <li>Geleende producten</li>
        <li>Ophaal momenten</li>
    </ul>
    <div style="display: block; width 100%;"> <!-- Geleende producten -->
      <div style="display: table; margin: 0 auto;">
        <jqxDataTable #productTable [theme]="themeProvider.selectedTheme" [auto-create]="false" [source]="sourceAdapter" [columns]="columns"></jqxDataTable>
      </div>
    </div>
    <div style="display: block; width 100%;"> <!-- Ophaal momenten -->
      <OphaalmomentenComponent #ophaalComponent></OphaalmomentenComponent>
      <jqxButton [theme]="themeProvider.selectedTheme" *ngIf="showOphaalMomentAangevenBtn()" routerLink="/leningen/details/ophaalmomentaangeven">Ophaalmomenten toevoegen</jqxButton>
    </div>
  </jqxTabs>

  <div style="margin-top: 20px;">
    <jqxButton [theme]="themeProvider.selectedTheme" *ngIf="showMarkeerOpgehaaldBtn()">Lening Opgehaald</jqxButton>
    <jqxButton [theme]="themeProvider.selectedTheme" *ngIf="showLeningRetournerenAdministrerenBtn()">Lening retourneren administreren</jqxButton>
  </div>
</div>
