<div>
  <div *ngIf="this.foutmelding.length > 1 "class="alert-danger" style="display: inline-block;">
    {{this.foutmelding}}
  </div>
  <h2>Inlognaam:</h2><jqxInput [(ngModel)]="loginnaam" type="text" [theme]="themeproviderService.selectedTheme"></jqxInput>
  <h2>Wachtwoord:</h2><jqxPasswordInput [(ngModel)]="wachtwoord" type="text" [theme]="themeproviderService.selectedTheme"></jqxPasswordInput>
  <jqxButton (click)="this.login()" href="/ingelogd" [theme]="themeproviderService.selectedTheme" >Login</jqxButton>
</div>
